@use "../../../styles/variables/variablesForMedia.scss";

.description__aboutFilmTableItem {
  padding: 10px;
  color: grey;
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    font-size: 16px;
  }
}

.description__aboutFilmTableDescription {
  padding: 10px;
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    font-size: 16px;
  }
}
