@import "../../../styles/variables/variablesForMedia.scss";

.descriptionTable {
  display: grid;
  grid-template: 1fr / 150px 1fr;
}

.description__aboutFilmTableItem {
  padding: 10px;
  color: grey;
  @media (max-width: $layout-breakpoint-md) {
    text-align: end;
  }
  @media (max-width: $layout-breakpoint-esm) {
    font-size: 16px;
  }
}

.description__aboutFilmTableDescription {
  padding: 10px;
  @media (max-width: $layout-breakpoint-md) {
    text-align: start;
    margin-left: 30px;
  }
  @media (max-width: $layout-breakpoint-sm) {
    margin-left: 20px;
  }
  @media (max-width: $layout-breakpoint-esm) {
    font-size: 16px;
  }
}
