@use "../../../styles/variables/variablesForMedia.scss";

.description__aboutFilm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    padding: 10px;
  }
  .description__aboutFimTitle {
    font-size: 24px;
    margin-left: 5px;
    @media (max-width: variablesForMedia.$layout-breakpoint-md) {
      margin-top: 40px;
      font-size: 20px;
    }
    @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
      margin-left: 0px;
      font-size: 28px;
    }
  }
  .description__aboutFilmTable {
    display: grid;
    grid-template: 1fr/1fr 3fr;
    @media (max-width: variablesForMedia.$layout-breakpoint-sm) {
      display: flex;
      flex-direction: column;
    }
  }
}
