.header {
  padding: 5px 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #f0f2f5;
}

.colAvatar {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 27px;
  margin: 0;
  padding: 0;
}

.dropMenu {
  font-size: 30px;
  color: #000;
  display: block;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 25px;
}
