.form {
  width: 500px;

  &__button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  @media (max-width: 960px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    width: 350px;
  }
  @media (max-width: 480px) {
    width: 300px;
  }
}
