@use "../../../styles/variables/variablesForMedia.scss";

.form {
  width: 500px;

  &__button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  @media (max-width: variablesForMedia.$layout-breakpoint-lg) {
    width: 350px;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-md) {
    width: 350px;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    width: 300px;
  }
}
