.watchedWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.watchedCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}
