@use "../../styles/variables/variablesForMedia.scss";

.column {
  display: flex;
  justify-content: center;
}

.filmTopWrapper {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.film_row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  @media (max-width: variablesForMedia.$layout-breakpoint-xl) {
    justify-content: space-around;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-lg) {
    justify-content: flex-start;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    justify-content: center;
  }
}

.pagination {
  border: 1px solid green;
  margin-top: 30px;
  padding: 0 70px;
}

.pagination_row {
  display: flex;
  margin: 30px 30px;
  @media (max-width: variablesForMedia.$layout-breakpoint-lg) {
    justify-content: flex-start;
    margin: 30px 0px;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-md) {
    justify-content: center;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    justify-content: center;
  }
}
