@import "../../../../styles/raiting.scss";

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  @media (max-width: 480px) {
    width: 65%;
    text-align: center;
  }
}

.search {
  width: 100%;
}
