@import "../../../../styles/raiting.scss";

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  @media (max-width: 480px) {
    width: 65%;
    text-align: center;
  }
}

.popUp {
  border: 1px solid red;
}

.menuInner {
  overflow-y: scroll;
  max-height: 200px;
}

.search {
  width: 100%;
}
