@import "../../styles/variables/variablesForMedia.scss";

.searchForms {
  width: 100%;
  @media (max-width: $layout-breakpoint-md) {
    width: 80%;
    margin: 0 auto;
  }
}

.searchItem {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  gap: 10px 30px;
  @media (max-width: $layout-breakpoint-md) {
    display: flex;
    flex-direction: column;
  }
}
