@import "../../../styles/variables/variablesForMedia.scss";

.cardWrapper {
  width: 185px;
  min-width: 170px;
  height: 380px;
  @media (max-width: $layout-breakpoint-lg) {
    width: 180px;
  }
}

.card {
  width: 100%;
  height: 100%;
}

.cardImage {
  width: 100%;
  height: 270px;
}
