@import "../../../styles/variables/variablesForMedia.scss";
.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: $layout-breakpoint-md) {
    gap: 15px;
  }
  @media (max-width: $layout-breakpoint-esm) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.descriptionTitle {
  font-size: 24px;
  font-weight: 500;
  @media (max-width: $layout-breakpoint-md) {
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: $layout-breakpoint-esm) {
    font-size: 28px;
  }
}
