@use "../../styles/variables/variablesForMedia.scss";

.header {
  padding: 5px 20px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #f0f2f5;
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    padding: 5px 5px;
  }
}
