@import "../../styles/raiting.scss";

.header {
  padding: 10px;
  background: transparent;
  line-height: 50px;
  background: #f0f2f5;
}

.logo {
  font-size: 27px;
  margin: 0;
  padding: 0;
}

.menu {
  background: transparent;
}

.dropMenu {
  font-size: 30px;
  color: #000;
  display: block;
}

.avatar {
  display: flex;
  align-items: center;
  gap:25px
}

.search{
  display: flex;
  gap:10px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover{
    background-color: #f0f2f5;
  }
  .search__image{
    width: 45px;
    height: auto;
  }
  .search__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .search__descriptionTitle{
      font-size: 15px;
    }
    .search__descriptionText{
      color:#000;
      .search__descriptionTextRaiting{
        color:green;
        padding: 3px;
      }
    }
  }
}