@import "../../../styles/variables/variablesForMedia.scss";
@import "../../../styles/raiting.scss";

.presentationFilm {
  display: flex;
  flex-direction: column;
}

.description {
  display: grid;
  grid-template: minmax(100px, 150px) 3fr/1fr;
  padding: 0px 30px;
  .description__content {
    display: grid;
    grid-template: 1fr/3fr 1fr;
  }
}

.actorList {
  .actorItem {
    display: flex;
    align-items: center;
    padding: 5px;
    &:hover {
      border-radius: 20px;
      background-color: #ededed;
    }
    @media (max-width: $layout-breakpoint-lg) {
      height: 80px;
    }
  }

  .actorTitle {
    font-size: 25px;
  }

  @media (max-width: $layout-breakpoint-sm) {
    display: flex;
    justify-content: center;
  }
}
