@use "../../../styles/variables/variablesForMedia.scss";
@import "../../../styles/raiting.scss";

.presentationFilm__image {
  display: flex;
  justify-content: center;
  min-width: 270px;
  max-width: 400px;
  @media (max-width: variablesForMedia.$layout-breakpoint-sm) {
    min-width: 300px;
  }
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    width: 100%;
  }
}
.presentationFilm__raiting {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  .presentationFilm__raitingNumber {
    font-size: 24px;
    @media (max-width: variablesForMedia.$layout-breakpoint-sm) {
      font-size: 20px;
    }
  }

  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    display: flex;
    justify-content: center;
  }
}

.card {
  width: 80%;
}
