.search {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f0f2f5;
  }
  .search__image {
    height: 100%;
    width: 10%;
    min-height: 80px;
    min-width: 60px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .search__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .search__descriptionTitle {
      font-size: 15px;
    }
    .search__descriptionText {
      color: #000;
      .search__descriptionTextRaiting {
        color: green;
        padding: 3px;
      }
    }
  }
}
