@use "../../../styles/variables/variablesForMedia.scss";

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  @media (max-width: variablesForMedia.$layout-breakpoint-esm) {
    font-size: 24px;
  }
}
